#Данные для регистрации контейнера postgres
HTTP_ADDR=:""
HTTP_SHUTDOWN_TIMEOUT=""

#Данные для регистрации контейнера postgres
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_TIMEOUT=""

#Строка подключения к базе данных для миграции


LOGGER_LEVEL=""

TIME_ZONE=""